.email-main-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.email-main-page-contents-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.email-main-page-contents-01{
    animation: slide-right 1s;
}

.email-main-page-contents-02{
    animation: slide-right 1s;
}

@keyframes slide-right {
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.email-main-page-contents-03 h2{
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 24px;
}

.email-main-page-contents-03{
    display: flex;
    flex-direction: column;
    gap: 15px;
    animation: slide-up 1s;
}

@keyframes slide-up {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.email-main-page-contents-03-input-01, .email-main-page-contents-03-input-02 {
    outline: none;
    border: none;
    padding: 15px 10px;
    font-size: 24px;
    width: 150%;
}

.email-main-page-contents-03-input-03{
    width: 200%;
    padding: 15px 10px;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(51, 51, 51);
}